.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--primary-font);
}
.header {
    display: flex;
    justify-content: center;
}
.header__title {
    font-family: var(--secondary-font);
}
.pattern {
    box-shadow: 2px 5px 8px var(--light-grey);
    margin: 1rem;
    padding: 1rem;
 	flex-basis: 40%;
}
.pattern--wide{
	flex-basis: auto;
}

.pattern__title {
    color: var(--dark-grey);
    font-size: 1rem;
}
.pattern__text {
    color:var(--dark-grey);
}
.pattern__example {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid var(--dark-grey);
}

.pattern__example--bg{
	margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid var(--dark-grey);
    background-color: var(--light-grey);
}